@charset "UTF-8";
.container {
  margin: 0 auto;
  max-width: 1320px;
  width: 90%;
}

.hero {
  height: 100vh;
  background-image: url(../img/hero_background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero_heading {
  text-align: center;
}

.hero_header {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero_subheader {
  margin-bottom: 50px;
}

.search_form {
  text-align: center;
}

.header {
  position: sticky;
}

.search_option_label {
  position: relative;
}

.search_option {
  max-width: 650px;
  width: 100%;
  height: 60px;
}

.search_submit {
  background-color: #5373FD;
  padding: 15px 25px;
  position: absolute;
  right: 5px;
}

.navigation {
  background-color: #5373FD;
  padding: 32px 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navigation .container {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.navigation .header_navigation {
  display: flex;
  gap: 40px;
}

.image_wrapper {
  font-size: 0;
}

.why_we {
  background-image: url(../img/why_we_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 125px 0;
}
.why_we .container {
  display: flex;
}

.instruction {
  background-color: #333333;
  padding: 60px 0;
}

.instruction_list {
  display: flex;
  justify-content: space-around;
}
.instruction_list .instruction_item {
  text-align: center;
  position: relative;
}
.instruction_list .instruction_item::after {
  content: " ";
  width: 14vw;
  /* 10% от ширины вьюпорта */
  height: 10vw;
  /* 10% от ширины вьюпорта */
  display: inline-block;
  border-top: 1px dashed;
  border-radius: 50%;
  position: absolute;
}
.instruction_list .icon_wrapper {
  margin-bottom: 20px;
}

.country_description {
  padding: 220px 0px 120px;
}

.lft {
  background-image: url(../img/country_description_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.rgh {
  background-image: url(../img/country_description_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.rgh .country_content {
  margin-left: auto;
}

.country_content {
  max-width: 650px;
  width: 100%;
  padding: 45px 32px;
  background: rgba(35, 35, 35, 0.9);
}
.country_content .content_header {
  margin-top: 16px;
  margin-bottom: 16px;
}
.country_content .content_text {
  margin-bottom: 25px;
}

.book_button {
  padding: 20px 32px;
  background-color: #5373FD;
  font-family: "Aleo";
  text-transform: uppercase;
  display: inline-block;
}

.feedbacks {
  background-image: url(../img/feedbacks_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0 180px;
}
.feedbacks .section_header {
  text-align: center;
}

.feedback_wrapper {
  display: flex;
  align-items: flex-start;
  background: #333;
}