@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham/Gotham-Black.otf);
}

.page_wrapper {
    font-family: 'Montserrat', 'sans-serif'
}
section{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.container {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;

}

.logo {
    display: inline-block;
    max-width: 200px;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding: 24px;
    font-size: 16px;
    color: #2F281E;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #2F281E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
main{
    padding-top: 150px;
}
.navigation_list a {
    font-size: 22px;
    text-align: center;
}
.header .active {
    color: #F90;
  }
.auth_options {
    display: flex;
    flex-wrap: wrap;
    align-content:center;
    gap: 32px;
    color: var(--text, #2F281E);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.auth_button:last-child {
    background-color: #F90;
    color: #FFF
}

.auth_button {
    box-sizing: border-box;
    padding: 13px 25px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;

}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff; 
    z-index: 2;
  }
  .header .container {
    position: relative; /* Добавьте позиционирование для .container внутри .header */
  }
  
.first_screen {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-image: url(../img/Image.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-bottom: 100px;

}

.main_heading {
    max-width: 500px;
    width: 100%;
    margin-bottom: 30px;
    color: #2F281E;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
}

.h1_sub_heading {
    max-width: 500px;
    width: 100%;
    margin-bottom: 20px;
    color: #544837;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.button {
    box-sizing: border-box;
    display: flex;
    width: 180px;
    height: 50px;
    padding: 13px 40px;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 4px;
    background: #F90;
    text-transform: capitalize;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: 'Poppins', sans-serif;
}

.features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-bottom: 75px;
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}
main .container:nth-child(2) {
    background-image:url(../img/bg.svg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:bottom;
    position: relative;

}
.site_heading {
    color: #2F281E;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 50px;
    max-width: 540px;
    width: 100%;
}

.features_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    justify-content: center;
    align-content:center;
    align-items: center;
    margin-bottom: 70px;

}

.feature_list_item {
    max-width: 270px;
}

.icon_wrapper {
    color: #FFF;
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 15px;
    background-color: #F90;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.feature_name {
    display: block;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: left;
}

.feature_description {
    font-size: 16px;
    font-weight: 500;
}

.bi_right {
    background-image: url(../img/Image_1.svg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin: 100px 0;

}

.bi_right p,
.bi_right span,
.bi_left p,
.bi_left span{
    line-height: 26px;
}

.benefits_subheader_top {
    color: #544837;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.benefits_header {
    color: #2F281E;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.check_icon_wrapper {
    color: #FFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 35px;
    height: 35px;
    background-color: #FF9900;
    border-radius: 10px;
    margin-right: 30px;
}

.benefits_subheader_buttom {
    color: #544837;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 525px;
    width: 100%;
}

.benefits_tesis {
    color: #2F281E;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 30px;
}

.benefits_content {
    display: flex;
    align-items: center;
    color: #544837;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 40px;
    max-width: 525px;
    width: 100%;
}

.bi_left {
    background-image: url(../img/Image_2.svg);
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: 100px 0;
    background-size: contain
}

.bi_right:last-child {
    background-image: url(../img/Image_3.svg);
}

.footer_nav {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    align-content:center;
    padding: 70px 0;
}

.footer_nav_section {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    width: 100%;
    justify-content: space-between;
}

.footer_nav_header {
    color: #2F281E;
    font-family: 'Gotham';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.footer_nav_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    color: #544837;
    font-size: 16px;
    font-weight: 500;
}

input[type="tel"] {
    max-width: 340px;
    width: 100%;
    height: 50px;
    padding: 0px 10px;
    border-radius: 4px;
    border: 1px solid #BCD0E5;
    margin: 25px 0;

}

input[type="tel"]::placeholder {
    color: #BCD0E5;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
main .container:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 5%, rgba(255,255,255,0) 95%, rgba(255,255,255,1) 100%);  }
  
 