.container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
}

.header {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navigation {
    display: flex;
    gap: 85px;
    flex-wrap: wrap;
    align-items: center;

}
.view_all_option>.icon_wrapper {
    margin-left: 20px;
}
.achievement p>.icon_wrapper {
    display: block;
}
.navigation_list {
    display: flex;
    font-size: 14px;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    gap: 42px;
    flex-wrap: wrap;

}

.social_links {
    display: flex;
    gap: 23px;
    flex-wrap: wrap;
    justify-content: center;
}


.blog_content_tag {
    color: #7B7B7B;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 1.6px;
}

.hero {
    width: 100%;
    height: 90vh;
    background-image: url(../img/initial_bg_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-bottom: 90px;
}

.image_wrapper {
    font-size: 0;

}

.section_header {
    font-family: "Red Hat Display";
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    /* 133.333% */
    letter-spacing: 2.4px;
    text-transform: capitalize;
    display: inline-block;
}

.hero_content {
    color: #000;
    font-family: "Red Hat Display";
    font-size: 48px;
    max-width: 770px;
    margin-top: 100px;
    line-height: 64px;
    letter-spacing: 2.4px;
}

.main .container {
    display: flex;
    flex-direction: column;
    gap: 90px;

}

.content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.grid_item>.content_wrapper {
    width: calc(50% - 15px);
    font-size: 0;
}

.grid_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 50px;
}

.grid_item {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.reverse{
    flex-direction: row-reverse;
}

.grid_item:nth-child(2)>.content_wrapper:nth-child(2) {
     align-items: flex-end;
}

.blog_content_header {
    margin-top: 30px;
    max-width: 350px;
    color: #000;
    font-family: "Red Hat Display";
    font-size: 23px;

    line-height: 166%;
    letter-spacing: 2.3px;
}

.blog_content_date {
    display: block;
    margin-top: 15px;
    color: #7B7B7B;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 1.6px;
}

.blog_content {
    margin-top: 50px;
    max-width: 450px;
    color: #565656;
    font-size: 16px;

    line-height: 166%;
    letter-spacing: 0.8px;
}


.content_align {
    display: inline-block;
    max-width: 450px;
}

.posts_list {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.items_3 li {
    width: calc(32% - 15px);
}

.items_2 li {
    width: calc(50% - 15px);
}

.section_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.posts_subheading {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--grey-500, #7B7B7B);
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 1.2px;
}

.arrow_wrapper {
    display: inline-block;
    width: 50px;
    color: black;
}

.post_header {
    margin-top: 25px;
    display: block;
    color: #000;
    font-family: "Red Hat Display";
    font-size: 22px;

    line-height: 166%;
    letter-spacing: 2.2px;
}

.post_content {
    margin-top: 20px;
    color: #565656;
    line-height: 166%;
    letter-spacing: 0.8px;
}

section {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.most_popular .posts_list .post_header {
    font-size: 24px;
    letter-spacing: 2.4px;

}

.load_more {
    width: 180px;
    background: #565656;
    padding: 10px 0;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 166%;
    letter-spacing: 1.6px;
    margin: 0 auto;
}

.info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 90px;
}

.achievement p {
    color: #000;
    font-family: "Red Hat Display";
    font-size: 23px;
    line-height: 166%;
    letter-spacing: 2.3px;
}

.achievement_description p {
    color: #565656;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.95px;
}

.info div {
    max-width: 42.5%;
}

.contacts {
    display: inline-block;
    padding-bottom: 40px;
    text-align: center;
}

.footer_header {
    color: #000;
    font-family: "Red Hat Display";
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 2.4px;
    margin-bottom: 30px;
}

.phone_number {
    margin-bottom: 15px;
}

.contacts_details {
    color: #000;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 1.6px;
    height: 160px;


}

.social_icon_wrapper {
    display: inline-block;
    border: 1px solid #565656;
    width: 50px;
    height: 50px;
    font-size: 32px;
    padding: 5px 0px;
    text-align: center;
    color: #565656;
}

.social_icon_wrapper:hover {
    color: #FFF;
    background-color: #565656;
    cursor: pointer;
}

.footer {
    background-color: #f4f4f4;
    padding: 70px 0
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.allrights_label {
    align-self: flex-end;
    color: var(--base-black, #000);
    font-size: 12px;

    line-height: 166%;
    letter-spacing: 1.2px;
}

.burger_lable{
    padding: 7px;
    cursor: pointer;
    display: none;
}
.burger:checked + .burger {
    display: block;
}
@media (max-width: 415px) {
    .hero{
        margin-bottom: 70px;
        height: 95vh;
    }
    .main>.container {
        gap: 70px;
    }
    .haeder>.container {
        position: relative;
    }
    .search_option{
        position: absolute;
        right: 40px;
        top: 30%;
    }
    
    .post_content:last-child{
        display: block;
    }
    .contacts {
        max-width: 100%;
        padding: 0;
    }
    .header{
        height: 5vh;
    }
    .footer {
       padding: 50px 0
    }
    .footer>.container {
        flex-direction: column;
        gap: 40px;
    }

    .allrights_label {
        font-size: 16px;
        text-align: center;
    }

    .info {
        flex-direction: column;
        margin-bottom: 70px;
        gap: 10px;
    }

    .info div {
        max-width: 100%;
    }

    .achievement p {
        max-width: 230px;
    }

    .posts_list {
        flex-direction: column;
        gap: 50px;
    }

    .items_2 li {
        width: 100%;
    }

    .items_3 li {
        width: 100%;
    }
    .grid_item{
        flex-direction: column-reverse;
    }
    .grid_item>.content_wrapper{
        width: 100%;
    }
    .blog>.section_heading{
        justify-content: center;
    }
  
   
}
@media (max-width: 860px){
    .navigation_list{
        display: flex;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 100vh;
        right: 0;
        flex-direction: column;
        align-items:center;
        z-index: 50;
        padding-top: 100px;
        background-color:#f4f4f4;
    }
    .burger_lable{
        display: inline-block;
    }
    .navigation{
        gap: 20px;
    }
    .burger:checked + .navigation_list {
      
        left: 0;
        
    }
    .burger:checked ~ .burger_lable {
        position: fixed;
        right: 10px;
        z-index: 999;
        right: 2%;
    }
}